@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a,
a:visited,
a:active,
a:hover,
a:focus {
  text-decoration: none;
  font-weight: bold;
}

a,
a:visited {
  color: green;
  transition: color 0.2s;
}

a:active,
a:hover,
a:focus {
  color: #94ad86;
}

button {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  background: #eee;
  border: 1px solid rgb(44, 44, 44);
}

/* from https://www.magicpattern.design/tools/css-backgrounds/*/
body {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b8d8a7;
  background-image: linear-gradient(
      30deg,
      #6f8a6a 12%,
      transparent 12.5%,
      transparent 87%,
      #6f8a6a 87.5%,
      #6f8a6a
    ),
    linear-gradient(
      150deg,
      #6f8a6a 12%,
      transparent 12.5%,
      transparent 87%,
      #6f8a6a 87.5%,
      #6f8a6a
    ),
    linear-gradient(
      30deg,
      #6f8a6a 12%,
      transparent 12.5%,
      transparent 87%,
      #6f8a6a 87.5%,
      #6f8a6a
    ),
    linear-gradient(
      150deg,
      #6f8a6a 12%,
      transparent 12.5%,
      transparent 87%,
      #6f8a6a 87.5%,
      #6f8a6a
    ),
    linear-gradient(
      60deg,
      #6f8a6a77 25%,
      transparent 25.5%,
      transparent 75%,
      #6f8a6a77 75%,
      #6f8a6a77
    ),
    linear-gradient(
      60deg,
      #6f8a6a77 25%,
      transparent 25.5%,
      transparent 75%,
      #6f8a6a77 75%,
      #6f8a6a77
    );
  background-size: 26px 46px;
  background-position: 0 0, 0 0, 13px 23px, 13px 23px, 0 0, 13px 23px;
  background-attachment: fixed;
}

/* Color Classes */
.calc {
  color: blue;
}

.mini-calc {
  color: rgb(180, 127, 27);
}

.output {
  color: red;
}

.mini-output {
  color: green;
}

.constant {
  color: magenta;
}

/* Welcome Modal */
#welcome-modal-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(188, 188, 188, 0.85);
}

#welcome-modal {
  width: 250px;
  padding: 15px;
  text-align: center;
  background: rgb(232, 232, 143);
  border: 20px solid yellow;
  border-radius: 5px;
}

#welcome-close-btn {
  float: left;
  margin-left: -10px;
  margin-top: -15px;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.5s;
}

#welcome-close-btn:hover,
#welcome-close-btn:focus,
#welcome-close-btn:active {
  color: green;
}

/* Page Header */
header {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  text-align: center;
  background: rgba(255, 255, 255, 0.95);
}

@media only screen and (max-width: 900px) {
  body {
    width: 100vw;
  }

  header {
    height: auto;
    top: -60px;
    gap: 10px;
    width: 100vw;
    box-shadow: 0px 10px 6px -7px #000000;
  }
}

#header-calcs {
  display: flex;
  gap: 20px;
}

#quick-ref {
  max-width: 150px;
  align-self: center;
  text-align: justify;
  cursor: pointer;
}

#calc-table {
  display: none;
}

@media only screen and (min-width: 900px) {
  body {
    display: grid;
    grid-template-columns: 370px auto;
    grid-template-rows: auto;
    grid-template-areas: "left right";
    align-items: flex-start;
  }

  header {
    grid-area: left;
    top: 0;
    height: calc(100vh - 30px);
    box-shadow: 5px 0px 4px -3px #000000;
    background: rgba(255, 255, 255, 0.85);
    row-gap: 20px;
  }

  #header-calcs {
    flex-direction: column;
  }

  #quick-ref {
    display: none;
  }

  #calc-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 0.9rem;
    text-align: left;
    border-collapse: collapse;
  }

  #calc-table th {
    text-align: center;
  }

  #calc-table td {
    padding: 5px;
    border: 1px solid black;
  }

  #calc-table td:first-of-type {
    text-align: right;
  }

  #calc-table td:nth-of-type(2) {
    text-align: center;
  }

  #calc-table td:nth-of-type(3) {
    word-wrap: break-word;
    color: blue;
  }
}

/* Calculators */
.calculator {
  display: flex;
  flex-direction: column;
}

.minus,
.plus {
  height: 2rem;
  width: 2rem;
}

.default {
  margin-top: 0;
  font-size: 1rem;
  width: 100%;
}

.calc-input {
  height: 2rem;
  width: 5rem;
  padding: 0 0.25rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  border: 1px solid rgb(44, 44, 44);
}

@media only screen and (max-width: 550px) {
  .default {
    margin-top: -5px;
  }

  .controls {
    display: grid;
    grid-template-areas:
      "input input"
      "minus plus"
      "error error";
    gap: 5px;
  }

  .calc-input {
    grid-area: input;
    width: calc(100% - 10px);
  }

  .minus,
  .plus {
    width: 100%;
    justify-self: center;
  }

  .minus {
    grid-area: minus;
  }

  .plus {
    grid-area: plus;
  }

  .error {
    grid-area: error;
  }
}

.error {
  margin-top: 5px;
  color: red;
}

/* Remove num input arrows: */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Calculators in Cards */
.log-calculator {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.run-calc {
  padding: 5px 10px;
  text-align: center;
  line-height: 2rem;
  background: rgb(255, 242, 219);
  border: 1px solid black;
  border-radius: 3px;
}

@media only screen and (max-width: 550px) {
  .log-calculator {
    max-width: 200px;
  }
}

/* Info Cards */
#code-container {
  grid-area: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px 0;
}

.code {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 90vw;
  padding: 15px;
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0px 10px 6px -7px #000000;
}

.code pre {
  padding: 10px;
  background: #eee;
  max-width: 90%;
  overflow-x: auto;
}

@media only screen and (min-width: 500px) {
  .code {
    width: 450px;
  }
}
